{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Eventos e Agendamentos</title>
    <link rel="stylesheet" href="{% static 'css/saiba.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet"> <!-- Fonte Alexandria -->
</head>
<body>

<main class="content">
    <section class="left-section">
        <img src="https://github.com/mariaclaraalvess/simplifique/blob/master/simplifique%20(5).png?raw=true" alt="Logo do Sistema" class="left-logo">
        <p class="intro-text">Estamos atualmente no processo de implementação de um sistema simples de eventos e agendamentos.</p>
        <p class="intro-text2">O sistema foi projetado para facilitar a gestão e o acompanhamento de eventos, permitindo que os usuários se cadastrem, façam login e realizem várias ações relacionadas aos eventos.</p>
    </section>

    <section class="right-section">
        <div class="event-details">
            <h2>Funcionalidades Atuais</h2>
            <ul>
                <li><strong>Login e Cadastro de Usuários:</strong> O sistema oferece um processo simples de login para usuários registrados, além de permitir novos cadastros, garantindo que apenas usuários autenticados tenham acesso às funcionalidades principais.</li>
                <li><strong>Cadastro de Eventos:</strong> Usuários podem criar novos eventos, definindo detalhes importantes como data, hora, descrição e local.</li>
                <li><strong>Edição e Exclusão de Eventos:</strong> Os eventos cadastrados podem ser facilmente editados ou excluídos, oferecendo flexibilidade para ajustar informações ou remover eventos desnecessários.</li>
                <li><strong>Visualização de Eventos:</strong> Os usuários têm acesso a uma visualização clara e acessível dos eventos cadastrados, com a possibilidade de visualizar os detalhes de cada evento.</li>
            </ul>
            <p>Este sistema está em fase de implementação, e em breve novas funcionalidades serão adicionadas, como a integração de notificações, sistemas de lembretes e visualizações de calendário.</p>
        </div>
    </section>
</main>

</body>
</html>
