{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte - Sistema de Eventos e Agendamentos</title>
    <link rel="stylesheet" href="{% static 'css/suporte.css' %}">
</head>
<body>

<main class="content">
    <section class="support-section">
        <h1>Suporte</h1>
        <p>Se você precisar de ajuda ou tiver alguma dúvida, entre em contato conosco pelos canais abaixo:</p>

        <div class="contact-info">
            <h2>Contatos:</h2>

            <div class="contact-item">
                <strong>Email:</strong>
                <p><a href="mailto:simplifique45@gmail.com">simplifique45@gmail.com</a></p>
            </div>

            <div class="contact-item">
                <strong>Telefones:</strong>
                <p><a href="tel:+5563991225375">(63) 99122-5375 - Maria Clara Carvalho Alves</a></p>
                <p><a href="tel:+556399368518">(63) 9936-8518 - Catarina Soares De Castro</a></p>
            </div>
        </div>
    </section>
</main>

</body>
</html>
