{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
    <link rel="stylesheet" href="{% static 'css/detalhes.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet">

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.3.1/dist/fullcalendar.min.css" rel="stylesheet" />

    <!-- Seu arquivo CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />

    <!-- jQuery (necessário para o FullCalendar) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

    <!-- Moment.js (necessário para o FullCalendar) -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>

    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.3.1/dist/fullcalendar.min.js"></script>

    <!-- FullCalendar Locale - Português Brasileiro -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.3.1/dist/locale/pt-br.js"></script>

</head>
<body>
    <header>
        <img src="https://github.com/mariaclaraalvess/simplifique/blob/master/simplifique%20(5).png?raw=true" alt="Logo" class="logo">
        <nav class="menu">
            <a href="#">Saiba Mais</a>
            <a href="#">Quem Somos</a>
            <a href="#">Suporte</a>
        </nav>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="login-btn">Logout</button>
        </form>        
    </header>

<div class="event-details">
    <h1>{{ evento.titulo }}</h1>
    <p class="event-description">{{ evento.descricao }}</p>
    <p><strong>Data:</strong> {{ evento.data }}</p>
    <p><strong>Horário:</strong> {{ evento.horario_inicio }}</p>
    <p><strong>Local:</strong> {{ evento.local }}</p>
    <p><strong>Tipo:</strong> {{ evento.get_tipo_evento_display }}</p>
</div>
